# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
obj/*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.x
*.swp
*.pyc

#jsons are usually too big
*.json

plots_local/*
rootfiles/*
skims/*
condor/Output/*
condor*/*.tgz
